POSTGRES_DB=movies_admin
POSTGRES_USER=app
POSTGRES_PASSWORD=123qwe
POSTGRES_PORT=5432
POSTGRES_HOST=localhost
POSTGRES_IP=127.0.0.1

PYTHONDONTWRITEBYTECODE=1
PYTHONUNBUFFERED=1
DJANGO_SETTINGS_MODULE=app.config.settings

DJANGO_SECRET_KEY='django-insecure-xs8yi7i*qy##e=s757ybbi0ortl6@@px(w%lxn&^u%&k*@6do8'
DEBUG=True
DJANGO_HOST=localhost
DJANGO_IP='127.0.0.1'

SQL_HOST=theatre-db
SQL_PORT=5432
SQL_OPTIONS='-c search_path=public,content'
DATABASE_TYPE=postgres

NGINX_HOST=0.0.0.0

ES_HOST=http://elasticsearch:9200
ES_INDEX=http

BATCH_SIZE=100
UPDATE_FREQUENCY=10